<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Events</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <section id="events">
    <h2>Counter</h2>
    <button v-on:click="addFive(5)">Add +5</button>
    <button v-on:click="reduceFive(5)">Subtract -5</button>
    <p v-once>Starting Counter: {{ counter }}</p>
    <p>Result: {{ counter }}</p>
    <h2>Write Something</h2>
    <!-- <input v-bind:value="confirmedText" v-on:input="outputText" v-on:keyup.enter="confirmText" type="text">-->
    <input v-model="text" type="text">
    <!-- v-model="dato da gestire" altro non è che una shortcut per v-bind:value e v-on:input -->
    <button v-on:click="resetText">Reset Text</button>
    <p>Your Text: {{ confirmedText }}</p>
    <form v-on:submit.prevent="submitForm">
      <input type="text">
      <button>Submit</button>
    </form>
  </section>
</body>

</html>